<h1>Asado G28</h1>
<h3>Bienvenido, registrate para el asado y anotate con lo que vas a traer</h3>
<p>Acordate que podes anotarte con carne, pan, verduras (tanto para asar como para ensalada
cerve y vino (o cualquier otro extra que se te ocurra)</p>


<p><%= link_to 'Aporte', new_contribution_path %></p>
<p><%= link_to 'Ver mi aporte', contributions_path %></p>
